# Environment variables for the AI Image Generation application.

# RabbitMQ Credentials
RABBITMQ_HOST=rabbitmq
RABBITMQ_USER=user
RABBITMQ_PASS=password
RABBITMQ_FAL_QUEUE="fal_jobs"

# Supabase Credentials
SUPABASE_URL="https://fcrinrafkqbfblvejyyy.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjcmlucmFma3FiZmJsdmVqeXl5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MTY5MDIyNywiZXhwIjoyMDY3MjY2MjI3fQ.527R6XYzNdOJHY5nQ-s5iLSyUERzuQ0NSHlUalhdctQ"

# AI Provider API Keys
FAL_AI_API_KEY="113f268e-79c4-450d-9a53-0f6ec147b7b9:455481a5a63efbd20ffd99ea87391d11"
POLLO_API_KEY="pollo_6KBSWNdv1MMFq2cUSYx3i0csooQtDEWpY6irQb9pOA0Y"
POLLO_MOCK_MODE=True
